<% content_for :javascript_includes do %>
  <%= javascript_include_tag "tasks" %>
<% end %>
<head>
  <%= yield :javascript_includes %>
</head>
<div id="operator_box">
  <%= form_for @task, :html => { :multipart => true, :autocomplete => "on", :encoding => "multipart/form-data" }  do |f| %>
    <% if @task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

        <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>

        <!--
    <div class="field">
      <label for="task_cover">Cover</label><br>
      <input type="file" accept="image/*" id="task_cover" name="task[cover]" />
    </div>
    -->

    <div class="field">
      <%= f.label :address %><br>
      <%= f.text_area :address %>
    </div>
    <div class="field">
      <%= f.label :price %><br>
      <%= f.number_field :price %>
    </div>
    <div class="field">
      <%= f.label :expirience %><br>
      <%= f.number_field :expirience %>
    </div>
    <div class="field">
      <%= f.label :status %><br>
      <%= f.text_field :status %>
    </div>
    <div class="field">
      <%= f.label :task_type %><br>
      <%= f.text_field :task_type %>
    </div>
  <!--  <div class="field">
      <%= f.label :content %><br>
      <%= f.text_area :content %>
    </div>
  -->
    <div class="field">
      <%= f.label :expdate %><br>
      <%= f.text_field :expdate %>
    </div>

    <% if current_page?(new_task_path) %>
      <div class="field" id="task_steps">
         <h3 class="task_steps_count">Подзадачи/шаги ( текущее кол-во: 0 )</h3>
         <input type="button" onclick="taskStepPut(this)" value="Добавить подзадачу" />
      </div>

    <% elsif current_page?(edit_task_path) %>
      <div class="field" id="task_steps">
        <h3 class="task_steps_count">Подзадачи/шаги ( текущее кол-во: <%= @task.content.size %> )</h3>

          <div class="task_step">
            <% @task.content.each_with_index do |quest, i| %>
                  <input class="task_step_cut" type="button" onclick="taskStepCut(this)" value="Удалить данную подзадачу" />
                  <div class="task_step_numer">Номер шага: <%= i %></div>
                  <div>Тип подзадачи:
                         <%= select_tag("task_step[][type]", options_for_select([["Предопределенные ответы", 0], ["Фотоответ(снимок с камеры)", 1], ["Ответ в свободной форме", 2]], quest[:type]), onchange: "taskTypeTurn(this)") %>
                  </div>

                  <div class="task_step_files">
                    <input class="task_step_file_delete" type="hidden" name="task_step[][file_delete]" />
                    <% unless quest[:file].nil? %>
                      <% quest[:file].each_with_index do |qfile, k| %>
                        <div>
                          <%= image_tag(qfile, id: "task_image_#{k}") %><%= button_tag "Удалить данный файл", onclick: "taskStepFileCut(this)", type: :button %><%= hidden_field_tag("task_step[][file_saved][]",qfile, id: "task_hidden_#{k}")%>
                        </div>
                      <% end %>
                    <% end %>
                  </div>

                  <div>Приложить иллюстрации или файлы к подзадаче: <input type="file" name="task_step[][file][]" multiple="true" min="1" max="12" /></div>
                  <div>Описание подзадачи/вопрос:
                    <textarea name="task_step[][question]"><%= quest[:question] %></textarea>
                  </div>

                  <div class="task_step_answers"  style="<%= 'display:none;' if quest[:type]!=0 %>" >Предопределенные ответы:<br />
                    <% unless quest[:answer].nil? %>
                       <div>
                          <% quest[:answer].each_with_index do |qanswer, j| %>
                            <div><%= text_field(qanswer, "task_step[][answer][]", value: "Answer" + j.to_s) %>
                              <%= button_tag "Удалить данный вариант ответа", onclick: "taskStepAnswerCut(this)", type: :button %></div>
                          <% end %>
                       </div>
                    <% end %>
                    <%= button_tag "Добавить вариант ответа", onclick: "taskStepAnswerPut(this)", type: :button %>
                  </div>

            <% end %>
          </div>

        <input type="button" onclick="taskStepPut(this)" value="Добавить подзадачу" />
      <!--<label for="task_content">Content</label><br><textarea id="task_content" name="task[content]"></textarea>-->
      </div>
    <% end %>

    <div class="field">
      <%= f.label :exp_require %><br>
      <%= f.number_field :exp_require %>
    </div>
    <div class="field">
      <%= f.label :amount, "количество раз" %><br>
      <input id="task_amount" type="text" name="task[amount]">
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
