<%= form_for(@task_instance) do |f| %>
  <% if @task_instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task_instance.errors.count, "error") %> prohibited this task_instance from being saved:</h2>

      <ul>
      <% @task_instance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.select(:status, options_for_select([[:Создан, :created], [:Выполняеться, :in_progress], 
    [:Готов, :ready],[:Завершен, :finished], [:Переделать, :to_rework], [:Оплачен, :paid]], @task_instance.status)) %>
  </div>
  <div class="field">
    <%= f.label :comment, "коментарий" %><br>
    <%= f.text_area :comment %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
