<h1>Listing task_instances</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Updated At</th>
      <th>Task ID</th>
      <th>Agent ID</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @task_instances.each do |task_instance| %>
      <tr>
        <td><%= task_instance.id.to_i %></td>
        <td><%= task_instance.status.humanize %></td>
        <td><%= task_instance.updated_at %></td>
        <td><%= task_instance.task_id.to_i %></td>
        <td><%= task_instance.user_id.to_i %></td>
        <td><%= link_to 'Show', task_instance %></td>
        <td><%= link_to 'Edit', edit_task_instance_path(task_instance) %></td>
        <td><%= link_to 'Destroy', task_instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if false %>
<%= link_to 'New Task instance', new_task_instance_path %>
<% end %>
