<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @task_instance.id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task_instance.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task_instance.status %>
</p>

<p>
  <strong>Last Update:</strong>
  <%= @task_instance.updated_at %>
</p>

<p>
  <strong>Task ID:</strong>
  <%= @task_instance.task_id %>
</p>

<p>
  <strong>Agent ID:</strong>
  <%= @task_instance.user_id %>
</p>

<%= link_to 'Edit', edit_task_instance_path(@task_instance) %> |
<%= link_to 'Back', task_instances_path %>
