<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @task_instance.id %>
</p>

<!--
<p>
  <strong>Content:</strong>
  <%= @task_instance.content %>
</p>
-->

<%= render 'shared/show_task_content', object: @task_instance %>

<p>
  <strong>Agent Position:</strong> <br>
  Latitude: <%= @task_instance.agent_pos_lat %> <br>
  Longitude: <%= @task_instance.agent_pos_long %> 
</p>

<p>
  <strong>Status:</strong>
  <%= @task_instance.status %>
</p>

<p>
  <strong>Last Update:</strong>
  <%= @task_instance.updated_at %>
</p>

<p>
  <strong>Taken At:</strong>
  <%= @task_instance.taken_at %>
</p>

<p>
  <strong>Task ID:</strong>
  <%= link_to(@task_instance.task_id, @task_instance.task) %>
</p>

<p>
  <strong>Agent ID:</strong>
  <%= @task_instance.user_id.to_i %>
</p>

<% if @task_instance.user %>
  <p>
    <strong>Agent Phone:</strong>
    <%= @task_instance.user.phone %>
  </p>
<% end %>

<p>
  <strong>Comment:</strong>
  <%= @task_instance.comment %>
</p>

<%= link_to 'Edit', edit_task_instance_path(@task_instance) %> |
<%= link_to 'Finished', finished_task_instance_path(@task_instance) %> |
<%= link_to 'Back', task_instances_path %>
