<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @payout.id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payout.status %>
</p>

<p>
  <strong>Price:</strong>
  <%= @payout.price %>
</p>

<p>
  <strong>Agent email:</strong>
  <%= @payout.user.email %>
</p>

<p>
  <strong>Agent phone:</strong>
  <%= @payout.user.phone %>
</p>

<p><strong>Task Tickets Id's</strong>
  <%= if !@payout.task_instance_ids.empty? %>
    <% @payout.task_instance_ids.each do |ti| %>
      <%= link_to(ti.id, ti) %>
    <% end %>
  <% end %>
</p>


<%= link_to 'Edit', edit_payout_path(@payout) %> |
<%= link_to 'Back', payouts_path %>
